*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   
}

header{
	width: 100%;
	color:#808080;
    background:white;
	z-index: 100;
    height: 90px;
	}
ul li {
    display: inline-block;
    position: relative;
    margin: 20px;
}
a{
    color:#808080;
    font-family: arial;
}
.logo{
    height: 20%;
    width: 30%;
    margin-top: 5%;
}
.inicio{
    margin-top: 9%;
}
.altura{
     background-color:#808080;
     height: 430px;
     width: 100%;
}
.caja{
    margin-top: 60px;
}
.title{
    color: white;
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 35px;
    margin-left: 20px;
}
.parrafo{
    color: white;
    font-family:"Open Sans";
    font-size: 13px;
    margin-left: 20px;
    text-align: justify;
}

.caja2{
    margin-top: 65px;
}
.opacidad{
    background:rgba(188, 188, 188, 0.32);
    padding: 25px;
    width: 290px;
    margin-left: 90px;
    border-radius: 15px;
}
form{
    position: relative;
    right: 8px;
}
.start{
    color: white;
    font-family:"Open Sans";
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px;
}
input {
    width: 250px;
    padding: 9px;
    margin-top: 7px;
    border: 1px rgba(149, 149, 149, 0.25) solid;
}
.suscribir{
    background-color:#3EB0F7;
    color: white;
    font-size: 15px;
}
.all{
    margin-left:30px;
    font-family: "Open Sans";
    font-size: 13px;
    color: #808080;
    margin-top: 1%;
}
.blue{
    color: blue;
}
footer{
    width: 100%;
    background:white;
    z-index: 100;
    height: 50px;
    }
@media  screen and (min-width:375px) and (max-width: 824px) {
    .inicio{
        width: 230px;
        position: relative;
        right: 60px;
        margin-top: 25px;
    }
    ul li {
    margin: 10px;
    }
    .title{
        font-size: 60px;
    }
    .parrafo{
        font-size: 18px;
        text-align: left;
    }
    .logo{
        height: 70%;
        width: 70%;
    }
    .container{
        width:100% ;
    }
    .altura{
        height:790px;
    }
    .caja{
        margin-top: 5px;
    }
    .caja,.caja2,input{
        width: 100%;
    }
    .opacidad{
        width: 100%;
        position: relative;
        right: 80px;
    }
    footer{
        width: 100%;
        height: 70px;
    }
    .all{
        font-size: 18px;
        margin-top: 20px;
    }


 
}